.scrolling-wrapper {
  overflow-x: auto;
}

.card-block {
  height: 400px;
  width: 500px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
}

.jumbotron {
  padding-left: 100px;
}

.heart {
  margin-left: 100px;
}
